<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>org.anik.techblog.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.anik.techblog.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.anik.techblog.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>org.anik.techblog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>org.anik.techblog.servlets.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/postForm</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>org.anik.techblog.servlets.LikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/likePost</url-pattern>
    </servlet-mapping>
    
</web-app>